#resumeBackground{
  background: #2F4F4F;
  text-align: center;
}
#USSoccerInformation{
  background-image: url(images/usabackground.jpeg);
  background-size: 100% 100%;
  text-align: center;
}
#mySoccerFamily{
  text-align: center;
  background: red;
}
#navigation{
  position: fixed;
  background-color: yellow;
  width: 100%;
  top: 0%;
}
#navigation ul{
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
}
#navigation ul li{
  float: left;
}
#navigation ul li a{
  color: white;
  text-align: center;
  background-color: purple;
  padding: 10px;
  font-size: 32px;
}
#creator{
  font-family: 'Lobster',cursive;
  text-align: center;
  font-size: 32px;
  background: purple;
  color: white;
  margin-top: 20px;
}
#header{
  font-family: 'Apple Chancery',cursive;
  font-size: 3em;
  color: white;
  font-size: oblique;
  font-weight: bold;
  padding-bottom: 20px;
}
.myHeadshot img{
  border: 10px solid #87CEFA;
  margin: 100px;
}
.myInfo{
  font-family: 'Georgia',serif;
  font-size: 20px;
  color: brown;
  padding: 20px;
}
.mainBody{
  font-size: 100%;
  padding-top: 20px;
}
.mainBody h2{
  font-family: 'Georgia',serif;
  color: #8B008B;
}
.mainBody h3{
  font-family: 'Comfortaa',cursive;
  color: darkblue;
}
.mainBody p{
  font-family: 'VT323',monospace;
  color: #00BFFF;
}
.mainBody ul,li{
  font-family: 'VT323',monospace;
  color: #006400;
  list-style-position: inside;
  list-style-type: square;
}